.footer {
    background: $color-grey-dark-1;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey;

    @include respond(tab-port)
    {
        padding: 8rem 0px;
    }
    
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
          @include respond(tab-port)
        {
        margin-bottom: 5rem;
        
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }
    &__navigation {
        border-top: 0.2rem solid $color-dark-grey;
        display: inline-block;
    
    
    @include respond(tab-port)
    {
        width: 100%; 
        text-align: center;
    }
    
    
    }

    &__list {
        list-style: none;
        margin-top: 1rem;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light-1;
            text-transform: uppercase;
            display: inline-block;
            background: $color-grey-dark-1;
            transition: all 0.2s ease-in-out; 
        }
        
        &:hover,&:active{
            color: $color-lightgreen;
            box-shadow: 0 0.4rem 1rem rgba($color-black,0.4);
            transform: scale(1.2) rotate(10deg);
        }
    }
    
    &__copyright
    { 
        border-top: 0.2rem solid $color-dark-grey;
         display: inline-block;
        padding-top:1rem; 
       float: right;
        width: 80%;
     
        @include respond(tab-port)
    {
        width: 100%; 
        text-align: center;
    }
        
    }
}
