.composition {
    position: relative; //---------------------------------------------------------------------
    &__photo {
        width: 60%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;

        float: left;
        @include respond(tab-port) {
            position: relative;
            width: 50%;
            box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

        }
        &--p1 {
            left: 0;
            top: -2rem;
            @include respond(tab-port) {
                top: 0rem;
                left: -5rem;
                transform: scale(1.2);
            }
            @include respond(phone) {
                top: 0rem;
                left: -3rem;
                transform: scale(1);

            }
        }
        &--p2 {
            right: 0;
            top: 5rem;

            @include respond(tab-port) {
                top: -3rem;
                left: -7rem;
                z-index: 100;
                transform: scale(1.1);

            }

            @include respond(phone) {
                top: -6rem;
                left: -12rem;
             
                transform: scale(1.1);


            }
        }
        &--p3 {
            left: 8rem;
            top: 10rem;

            @include respond(tab-port) {
                top: -14rem;
                left: 36rem;
                transform: scale(1);

            }

            @include respond(phone) {
                top: -14rem;
                left: 23rem;
                transform: scale(1.1); 

            }
        }
        &:hover {
            z-index: 200;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
            transform: scale(1.5);
            border: 1rem solid $color-lightgreen;
            padding: .5rem;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}
