* {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
  
    box-sizing: border-box;
        padding: 3rem;
    
    //overflow: hidden;
     @include respond(tab-port)
    {
        padding: 0;
    }
}
html
{
    font-size: 62.5%; //1rem = 10px def font size of browser = 16px; 10/16 = 62.5%
    
/*
    @include respond(phone)
    {
        font-size: 50%;
    }
    ---don't need this one
  */  
     @include respond(big-desk)
    {
        font-size: 75%; // 1rem = 12
    }
    @include respond(tab-land)
    {
        font-size: 56.25%; // 1rem = 9px here so 9/16 = 50%
    }
    @include respond(tab-port)
    {
        font-size: 50%;  // 1rem = 8px here so 8/16 = 50%
    } 
   
}


::selection
{
    background: $color-orange;
    color: $color-white;
}