.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    &--main {
        font-size: 6rem;
        font-family: 'Muli', sans-serif;
        font-weight: 800;
        letter-spacing: 2.8rem;
        display: block;
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        white-space: nowrap;
        
        @include respond(phone){
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }

    &--sub {
        display: block;
        font-size: 1.9rem;
        font-family: 'Muli', sans-serif;
        font-weight: 800;
        letter-spacing: 0.97rem;
        transform: translateX(-1rem);
        animation-name: moveInRight;
        animation-duration: 1.5s;
        
        @include respond(phone){
            font-size: 1rem;
            letter-spacing: 0.5rem;
        }
    }
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    /* font-size: 16px;*/
    color: $color-grey;

    box-sizing: border-box;
}
.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to left,rgba(76, 175, 80, 0.8), rgba(8, 29, 10, 0.77));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    
    letter-spacing: 2px;
    transition: all 0.2s;
    
    @include respond(tab-port)
    {
        font-size: 3rem;
    }
    
    @include respond(phone)
    { 
        font-size: 2.5rem;
    }
    
    &:hover{
        
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        box-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary
{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

}
.paragraph
{
   font-size: 1.6rem; 
    &:not(:last-child){
    margin-bottom: 3rem;
    }
}